body{
    background:#f4f7fb;
    font-family:Arial,Helvetica,sans-serif;
    transition:.3s;
}

.navbar{
    box-shadow:0 2px 10px rgba(0,0,0,.2);
}

.card{
    border:none;
    border-radius:15px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.btn{
    border-radius:10px;
}

table{
    background:white;
}

#loading{
    margin-top:40px;
}

.toast-message{
    position:fixed;
    top:20px;
    right:20px;
    z-index:9999;
}

.dark{
    background:#121212;
    color:white;
}

.dark .card{
    background:#1f1f1f;
    color:white;
}

.dark table{
    color:white;
    background:#1f1f1f;
}

.dark .navbar{
    background:#000!important;
}

canvas{
    max-height:400px;
}

@media(max-width:768px){

.navbar .btn{
margin-top:10px;
}

.card{
margin-bottom:20px;
}

}